.intro-section {
  height: 100vh;
  background-image: url(img/intro-photo.jpeg);
  background-size: cover;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.intro-section .col {
  padding-top: 40vh;
}

.intro-section p {
  color: white;
  font-size: 5vw;
  padding-top: 15px;
  padding-bottom: 15px;
}
